<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>API routes with explanations</p>
    <br>
    <h2><b><u>Patients</u></b></h2>
    <table id="tablePatients">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
            <th>Request</th>
            <th>Route</th>
            <th>Explanation</th>
        </tr>
        <% for(var i=0; i<dataPatients.length; i++) { %>
        <tr>
            <td>
                <%= dataPatients[i].request %>
            </td>
            <td>
                <a href="localhost:3000<%= dataPatients[i].route %>">
                    <%= dataPatients[i].route %>
                </a>
            </td>
            <td>
                <%= dataPatients[i].explanation %>
            </td>
        </tr>
        <% } %>
        <tr>
    </table>
    <br>
    <h2><b><u>Dentists</u></b></h2>
    <table id="tableDentists">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
            <th>Request</th>
            <th>Route</th>
            <th>Explanation</th>
        </tr>
        <% for(var i=0; i<dataDentists.length; i++) { %>
        <tr>
            <td>
                <%= dataDentists[i].request %>
            </td>
            <td>
                <a href="localhost:3000<%= dataDentists[i].route %>">
                    <%= dataDentists[i].route %>
                </a>
            </td>
            <td>
                <%= dataDentists[i].explanation %>
            </td>
        </tr>
        <% } %>
        <tr>
    </table>
    <br>
    <h2><b><u>Teeth</u></b></h2>
    <table id="tableTeeth">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
            <th>Request</th>
            <th>Route</th>
            <th>Explanation</th>
        </tr>
        <% for(var i=0; i<dataTeeth.length; i++) { %>
        <tr>
            <td>
                <%= dataTeeth[i].request %>
            </td>
            <td>
                <a href="localhost:3000<%= dataTeeth[i].route %>">
                    <%= dataTeeth[i].route %>
                </a>
            </td>
            <td>
                <%= dataTeeth[i].explanation %>
            </td>
        </tr>
        <% } %>
        <tr>
    </table>
    <br>
    <h2><b><u>Dental services</u></b></h2>
    <table id="tableDentalServices">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
            <th>Request</th>
            <th>Route</th>
            <th>Explanation</th>
        </tr>
        <% for(var i=0; i<dataDentalServices.length; i++) { %>
        <tr>
            <td>
                <%= dataDentalServices[i].request %>
            </td>
            <td>
                <a href="localhost:3000<%= dataDentalServices[i].route %>">
                    <%= dataDentalServices[i].route %>
                </a>
            </td>
            <td>
                <%= dataDentalServices[i].explanation %>
            </td>
        </tr>
        <% } %>
        <tr>
    </table>
    <br>
    <h2><b><u>Interventions</u></b></h2>
    <table id="tableInterventions">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
            <th>Request</th>
            <th>Route</th>
            <th>Explanation</th>
        </tr>
        <% for(var i=0; i<dataInterventions.length; i++) { %>
        <tr>
            <td>
                <%= dataInterventions[i].request %>
            </td>
            <td>
                <a href="localhost:3000<%= dataInterventions[i].route %>">
                    <%= dataInterventions[i].route %>
                </a>
            </td>
            <td>
                <%= dataInterventions[i].explanation %>
            </td>
        </tr>
        <% } %>
        <tr>
    </table>
    <br>
    <h2><b><u>Treatements</u></b></h2>
    <table id="tableTreatements">
        <col width="100">
        <col width="100">
        <col width="100">
        <tr>
            <th>Request</th>
            <th>Route</th>
            <th>Explanation</th>
        </tr>
        <% for(var i=0; i<dataTreatements.length; i++) { %>
        <tr>
            <td>
                <%= dataTreatements[i].request %>
            </td>
            <td>
                <a href="localhost:3000<%= dataTreatements[i].route %>">
                    <%= dataTreatements[i].route %>
                </a>
            </td>
            <td>
                <%= dataTreatements[i].explanation %>
            </td>
        </tr>
        <% } %>
        <tr>
    </table>
</body>

</html>